$ColorPurpura: #9C27B0;
$ColorPurpuraOscuro:#89119D;
$ColorAmarillo: #FFCE00;
$ColorAmarilloOscuro: #cfa706;
$ColorOscuro: rgb(233,287,2);
$ColorBlanco: #FFF;
$ColorNegro: #000;
$Fuente: "Staatliches", cursive;

.producto{
    color: black;
     
 }
 