.navegacion{
    text-align: center;
    background-color: $ColorPurpuraOscuro;
    padding: 2rem 0rem;
    
    a{
        
        font-size: 2rem;
        color: $ColorBlanco;
        margin:0rem 3rem;
        font-family: $Fuente;
        
    }
    a:hover{
        color: $ColorAmarillo;
    }
    a:last-of-type{
        margin-right: 0;
    }
}